.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 1%;
  box-sizing: border-box;
}

.main-content {
  display: flex;
  width: 100%;
  height: 70%;
}

.fragment-list {
  width: 80%;
  height: 100%;
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
  overflow-y: auto;
}

.clipboard-panel {
  width: 20%;
  height: 100%;
  border: 1px solid #ccc;
  box-sizing: border-box;
  padding-left: 5px;
  padding-right: 5px;
  overflow-y: auto;
}

.clipboard-item {
  margin-bottom: 10px;
  padding: 5px;
  background-color: #f0f0f0;
  border-radius: 3px;
}

.fragment {
  display: inline-block;
  margin: 5px;
  padding: 5px;
  border-radius: 3px;
  background-color: #f0f0f0;
}

.fragment.selected {
  background-color: #d0ffd0 !important;
}

.fragment.new {
  background-color: #ffefd0;
}

.break {
  width: 100%;
}

textarea {
  width: 300px;
  height: 50px;
  box-sizing: border-box;
}

.suggestions-panel {
  width: 100%;
  height: 30%;
  border-top: 1px solid #ccc;
  padding: 2px;
  box-sizing: border-box;
  overflow-y: auto;
}

.editor-suggestions {
  display: flex;
  flex-wrap: wrap;
}

.suggestion-item {
  margin: 5px;
  padding: 1%;
  background-color: #f0f0f0;
  border-radius: 3px;
  width: 20%;
  transition: opacity 0.5s ease, background-color 0s;
}

.suggestion-hint {
  font-weight: bold;
  font-size: 1.5em;
  margin-right: 5px;
  float: left;
  border: 1px black solid;
  padding-left: 2px;
  padding-right: 2px;
}

@keyframes flash-blue {
  0% { background-color: #067ff1; }
  100% { background-color: transparent; }
}

.suggestion-item.fade-out {
  animation: flash-blue 0.2s ease-out;    
  opacity: 0.2;
}

.generation-indicator {
  position: fixed;
  bottom: 10px;
  right: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  z-index: 1000;
}

.generation-indicator.idle {
  background-color: grey;
}

.generation-indicator.waiting {
  background-color: blue;
}

.generation-indicator.busy {
  background-color: red;
}

.title {
  font-size: 2em;
  background-color: greenyellow;
  padding: 2px;
  margin: 2px;
  max-width: 100%;
  text-align: center;
}

.model-selector {
  margin: 10px 0;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.model-selector div {
  display: flex;
  align-items: center;
}

.model-selector select {
  margin-left: 10px;
  padding: 5px;
  font-size: 16px;
}
